mat-grid-list {
    height: 660px;
}

.grid-tile-body {
    top: 48px;
    left: 0;
    right: 0;
    display: flex;
    position: absolute;
    overflow-y: scroll;
    height: calc(100% - 80px);
    padding: 1rem;
}

.grid-tile-body > * {
    width: 100%;
}