<mat-grid-list cols="5" rowHeight='fit'>
    <mat-grid-tile colspan="1" rowspan="3">
        <mat-grid-tile-header>Search</mat-grid-tile-header>
        <div class="grid-tile-body">
            <app-search></app-search>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="1">
        <mat-grid-tile-header>Reading now</mat-grid-tile-header>
        <div class="grid-tile-body">
            <app-book-list [books]="reading$ | async"></app-book-list>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="2">
        <mat-grid-tile-header>Up next</mat-grid-tile-header>
        <div class="grid-tile-body">
            <app-book-list [books]="upNext$ | async"></app-book-list>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="2">
        <mat-grid-tile-header>Finished</mat-grid-tile-header>
        <div class="grid-tile-body">
            <app-book-list [books]="finished$ | async"></app-book-list>
        </div>
    </mat-grid-tile>
</mat-grid-list>