<mat-card>
    <mat-card-header>
        <mat-card-title>{{book.title}}</mat-card-title>
        <mat-card-subtitle>{{book.authors}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{book.description}}</p>
    </mat-card-content>
    <mat-card-actions *ngIf="book.state==='shelved'">
        <button mat-flat-button color="warn" (click)="remove()" [disabled]="isLoading">Remove</button>
        <button mat-flat-button color="primary" (click)="startReading()" [disabled]="isLoading">Read</button>
    </mat-card-actions>
    <mat-card-actions *ngIf="book.state==='reading'">
        <button mat-flat-button color="warn" (click)="stopReading()" [disabled]="isLoading">Stop</button>
        <button mat-flat-button color="primary" (click)="finish()" [disabled]="isLoading">Finish</button>
    </mat-card-actions>
</mat-card>